In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data= pd.read_csv('house_properties_data.csv')
data

,adress,longitude,latitude,living_area,land_area,supplemental_area,patio,balcony,number_of_rooms,build_year,operating cost,sold_price
0,"Ragvaldsträsk 338, Ragvaldsträsk, Skellefteå",64.61834,20.8385429,66.0,4170.0,None,0,0,3.0,1974,33 863,1 495 000
1,"Tennringen 50, None, Järfälla",59.4597778,17.80971,103.0,649.0,27.0,0,0,6.0,1958,19 949,5 200 000
2,"Sömmerskevägen 7, Hallsberg, Hallsbergs",59.055944018123,15.117798286997,105.0,1923.0,False,0,0,4.0,1929,46 215,720 000
3,"Mattias väg 8, Ivetofta, Bromölla",56.09088,14.4686079,130.0,1176.0,25.0,0,0,4.0,2009,41 802,2 770 000
4,"Rådmansgatan 7, Norrmalm, Skövde",58.4003372,13.8600206,128.0,1242.0,117.0,0,0,5.0,1950,30 388,3 900 000
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,"Olympiavägen 65, Tallkrogen, Stockholms",59.26885172465099,18.086010302955604,63.0,331.0,60.0,0,0,5.0,1935,53 745,7 450 000
2496,"Johan Skyttes väg 281, Älvsjö, Stockholms",59.28221752143294,17.99028379963337,68.0,651.0,68.0,1,0,4.0,1943,44 397,6 150 000
2497,"Stallebergsvägen 5, Södra Skärgården, Göteborgs",57.6040513556,11.8008197135,109.0,1354.0,105.0,0,0,7.0,1978,None,3 760 000
2498,"Skärvetvägen 15, Fågelfors, Högsby",57.2063567293,15.8707675109,65.0,4600.0,False,0,0,4.0,1929,None,750 000
2499,"Lonnhyttan 725, Lonnhyttan, Karlskoga",59.39349597025032,14.471955748544389,152.0,6410.0,8.0,1,0,5.0,1929,47 770,650 000

In [11]:
# Sets values to 0 if they are 'None' or 'False' in the 'supplemental_area' column
data['supplemental_area'] = data['supplemental_area'].replace(['None','False'],0)

# Select rows that contain "None" in any column
df_to_drop = data[data.isin(["None"]).any(axis=1)]

# Drop the rows that contain "None" in any column
data = data.drop(df_to_drop.index)

# Replace entries in the form "YYYY - YYYY" with just the first year
data["build_year"] = data["build_year"].apply(lambda x: x.split(" - ")[0] if isinstance(x, str) and " - " in x else x)